.contacts-view {
  height: 100%;
  background-color: var(--lumo-contrast-10pct);
}

.contacts-view vaadin-grid {
  height: 90%;
  line-height: var(--lumo-line-height-m);
}

.contacts-view vaadin-grid,
.contacts-view vaadin-grid-cell-content {
  background-color: var(--lumo-contrast-10pct);
}

.contacts-view .card {
  background-color: var(--lumo-base-color);
  /*background-color: var(--lumo-contrast-5pct);*/
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.contacts-view .name {
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
  margin-right: var(--lumo-space-s);
}