.grid-view {
  height: 100%;
}

.grid-view vaadin-grid {
  height: 90%;
  line-height: var(--lumo-line-height-m);
}

.grid-view vaadin-grid,
.grid-view vaadin-grid-cell-content {
}

.grid-view .card {
  background-color: var(--lumo-contrast-5pct);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.grid-view .card:hover {
  background-color: #B7D0E5;
  background-color: #D4E9F9;
}

.grid-view .card:hover .name{
  font-size: var(--lumo-font-size-l);
}

.grid-view .name {
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
  margin-right: var(--lumo-space-s);
}

.grid-view .canOpen:hover{
  cursor: pointer;
}

.grid-view .canOpen:hover .name{
  font-size: var(--lumo-font-size-l);
}

.grid-view vaadin-details > span:hover{
  cursor: pointer;
}

.grid-view vaadin-button{
  background-color: #4185DF;
  color:white;
}
.grid-view vaadin-button:hover{
  background-color: blue;
  font-size: var(--lumo-font-size-m);
  font-weight: bold;
}

.infoSpan{
  display: none;
}

.iconLayout:hover .infoSpan{
  display: block;
}